<!--  <ul>
  <li *ngFor="let p of products">
    <ul>nombre: {{p.name}}</ul>
    <ul>descripcion: {{p.description}}</ul>
    <ul>precio: {{p.price}}</ul>
    <button (click)="deleteProduct($event,p)">Eliminar</button>
    <button (click)="editProduct($event,p)">Editar</button>
    <div *ngIf="editable && productoaeditar.id == p.id ">
      <form (ngSubmit)="updateProduct()">
        <input type="text" name="name" [(ngModel)]="productoaeditar.name">
        <input type="text" name="description" [(ngModel)]="productoaeditar.description" >
        <input type="number" name="price" [(ngModel)]="productoaeditar.price">

        <input type="file" accept=".jpg, .png" (change)="uploadFile($event)" />
         <div>{{ uploadPercent | async }}</div>
         <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
         <input #imageuser type="hidden" [value]="downloadURL | async">
         <br>
        <button (click)="updateProduct($event,productoaeditar)">Guardar</button>
      </form>
      </div>
  </li>
</ul>
-->
  <!-- menu -->
  <nav class="navbar navbar-expand-lg navbar-light  fixed-top pull-md-right" style="background-color: white">
    <a class="navbar-brand" style="margin-left: 20px" href="#">EL FAROLITO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
  </ul>
  <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" (click)="filterseleccion('remera')" href="#">Remeras </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"  (click)="filterseleccion('gorra')"href="#" >Gorras</a>
        </li>
    <li class="nav-item">
      <a class="nav-link" (click)="filterseleccion('vinilo')" href="#">Vinilos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  (click)="todos()">Todos </a>
      </li>
    <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a class="nav-link" href="#" (click)="authService.logout()">Salir <span class="sr-only">(current)</span></a>
      </li>
     
    </ul>
    
  </div>
  </nav> 
<!--
        <div *ngIf="!productoscargados && !authService.isLoggedIn" style=" position: absolute; top:50%; left:50%; margin-left:-154px; height:300px;">
          <div class="spinner-grow text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-light" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
-->
<div *ngIf="products.length > 0" id="main"></div>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg padding-y-sm">
    <div class="container">
    <div class="row-sm">

  <ng-container *ngFor="let p of products">
    <div *ngIf="p.data.tipo == tipo || !filtro"  class="col-md-3 col-sm-6">
      <figure class="card card-product">
        <div class="img-wrap"> <img src="{{p.data.urlmostrar}}"></div>
        <figcaption class="info-wrap">
           <a [routerLink]="['/detalle', p.id]" class="title">{{p.data.description}}</a>
          <div class="price-wrap">
            <span class="price-new">{{p.data.price}}$</span>
            
          </div> <!-- price-wrap.// -->
        </figcaption>
      </figure> <!-- card // -->
    </div> <!-- col // -->
  </ng-container>

   
    </div> <!-- row.// -->
    
    
    </div><!-- container // -->
    </section>
    <!-- ========================= SECTION CONTENT .END// ========================= -->
<div> <!--cierre main-->














          <!--
<div *ngIf="productoscargados" id="main">
    <div class="inner">
      <div class="columns">
        
        <ng-container *ngFor="let p of products">

        <div *ngIf="p.tipo == tipo || !filtro"  >
          <div class="image fit">
            <div class="grid">
                <figure class="effect-apollo">
                  <img src={{p.urlmostrar}} alt="{{p.description}}"/>
                  <figcaption>
                    <p style="padding-bottom: 16px" class="precio">{{p.price}}$</p>
                    <br>
                    <p class="descripcion">{{p.description}}</p>
                    <button  type="button" class="btn btn-danger eliminar" onclick="this.blur();" (click)="agregarAlCarrito(p)">Comprar</button>
                    <button *ngIf="authService.isLoggedIn" type="button" class="btn btn-danger eliminar" (click)="deleteProduct($event,p)">Eliminar</button>
                  </figcaption>			
                </figure>
              </div>
            </div>
          </div>

        </ng-container>
       
      </div>
    </div>
  </div>

  <app-carrito></app-carrito> -->